@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element.scss";
@import "./sidebar.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

@for $i from 1 through 10 {
  .pt-#{$i} {
    padding-top: $i*5px !important;
  }
  .pl-#{$i} {
    padding-left: $i*5px !important;
  }
  .pb-#{$i} {
    padding-bottom: $i*5px !important;
  }
  .pr-#{$i} {
    padding-right: $i*5px !important;
  }
  .pa-#{$i} {
    padding: $i*5px !important;
  }
  .mt-#{$i} {
    margin-top: $i*5px !important;
  }
  .ml-#{$i} {
    margin-left: $i*5px !important;
  }
  .mb-#{$i} {
    margin-bottom: $i*5px !important;
  }
  .mr-#{$i} {
    margin-right: $i*5px !important;
  }
  .ma-#{$i} {
    margin: $i*5px !important;
  }
}
